<% if user_signed_in? %>
<nav class="navbar navbar-default">
	<ul class="nav navbar-nav navbar-right">
		<li class="clas"> <%=link_to "Editar usuario",  edit_user_registration_path %></li>
		<li class="clas"> <%=link_to "Salir", destroy_user_session_path, :method => :delete %></li>
	</ul>
</nav>
<% else %>
<nav class="navbar navbar-default">
	<ul class="nav navbar-nav navbar-right">
		<li><%=link_to "Entrar", new_user_session_path %></li>
		<li class="clas"> <%=link_to "Registrate", new_user_registration_path %></li>
	</ul>
</nav>

<% end %>
<h1>ABOUT HAPPY POTATOES</h1>
<p>Happy Potatoes and the Potatometer rating is the most trusted measurement of quality entertainment. As the leading online aggregator of movie and TV show reviews from professional critics, Happy Potatoes offers the most comprehensive guide to what's fresh. The world famous Potatometer rating represents the percentage of positive professional reviews for films and TV shows and is used by millions every day, to help with their entertainment viewing decisions. Happy Potatoes designates the best reviewed movies and TV shows as Certified Fresh™. That accolade is awarded with Potatometer ratings of 75% and higher, and a required minimum number of reviews. Weekly Happy Potatoes podcasts can be found on RottenTomatoes.com, iTunes, Soundcloud and Stitcher, and Happy Potatoes' entertainment experts make regular TV and radio appearances across the US.

In 2016, Flixster and Happy Potatoes became part of Fandango's portfolio of digital properties, serving moviegoers and entertainment fans.</p>