

.green-text {
    color: #339933;
}

.blue-text {
    color: #1aa3ff;
}

.red-text {
    color: #ff0000;
}

.pink-text {
    color: #ff3385;
}

.yellow-text {
    color: #f9f906;
}

.orange-text {
    color: #ff471a;
}

.purple-text {
    color: #ff00bf;
}

.brown-text {
    color: #994d00;
}

.aqua-text {
    color: #00ffff;
}

.justified-text {
    text-align: justify;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 2px;
}

.margin-left {
    margin-left: 2px;
}

.margin-right {
    margin-right: 2px;
}

.margin-top {
    margin-top: 2px;
}

.green-background {
    background-color: green;
}

.red-background {
    background-color: red;
}

.grey-background {
    background-color: #D3D3D3;
}

.cos {
	background-color: #D3D3D3;
	font-family: sans-serif;
}

.titol {
	text-align: center;
}

.marron1 {
	position: fixed;
	left: 25%;
	top: 10%;
	width: 50%;
	height: 10%;
	padding: 1%;
	background-color: #DBC9A6;
	border: 2px solid #D5C3A1;
	text-align: center;
}

.verde1 {
	position: fixed;
	left: 32%;
	top: 38%;
	width: 35%;
	height: 30%;
	padding: 1%;
	background-color: #91FF91;
	border: 2px solid #63AF63;
	text-align: center;
	z-index: 2;
}

.amarillo1 {
	position: absolute;
	background: #FFFFB3;
	border: 2px solid #F5F5AC;
	top: 23%;
	left: 15%;
	width: 23%;
	height: 25%;
	text-align: left;
}

.azul1 {
	position: absolute;
	background: #C6FFFF;
	border: 2px solid #98C4C4;
	width: 23%;
	height: 25%;
	right: 15%;
	top: 23%;
	text-align: right;
}

.rosa1 {
	position: absolute;
	background: #FFE5FF;
	border: 2px solid #C3B0C3;
	width: 23%;
	height: 25%;
	left: 15%;
	top: 60%;
	text-align: left;
}

.rojo1 {
	position: absolute;
	background: #FFB4B4;
	border: 2px solid #966B6B;
	text-align: right;
	height: 25%;
	right: 15%;
	top: 60%;
	width: 23%;
}



.petit2 {
	position: fixed;
	background-color: #FFFFFF;
	border: 3px solid #16927A;
	border-top: 9px solid #16927A;
	border-bottom: 9px solid #16927A;
	text-align: center;
	color: grey;
	left: 20%;
	top: 20%;
	width: 20%;
	height: 48%;
}

hr.linia {
	border: dashed;
	border-width: thin;
	color: grey;
	width: 90%;
}

button.boto1 {
	align-items: center;
	background-color: #16A086;
	color: white;
	width: 49%;
	height: 16%;

}

#image{
	width:100px;
}

#square{
	text-align: center;
	background-color:red;
	width:100px;
	height:100px;
	margin-top:20px;
}

#square2{
	background-color: #ccccb3;
    width: 35px;
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.cosjavaprova{
	text-align: center;
	background-color: #99ffcc;

}

.ejercicio_30{

	body{
	  position: relative;
	  background-color: #fff;
	  width: 950px;
	  margin: 0 auto;
	  font-family: verdana;
	  
	}

	p{
	    color: #333;
	}


	button{
		margin: 1em;
	    margin-left: auto;	
	}

	ul{
		background-color:rgba(128, 128, 128, 0.14);
	}

	div{
	    font-family: verdana;
	    margin: 1em;
	    margin-left: auto;
	}

	.micuadro{
	    background-color: grey;
	    padding: 45px;
	    margin-top: 22px;
	    display: inline-block;
	}

	.rojo{
		background-color: red;
	}

	.verde{
		background-color: green;
	}

	.azul{
		background-color: blue;
	}

	.amarillo{
		background-color: yellow;
	}

	.naranja{
		background-color: orange;
	}

	.gris{
		background-color: grey;
	}
}

#wrapper {
	background-color: #BDB76B;
	border: 1px solid;
	padding: 50px;
	color: white;
}

.header1 {
	background-color: #D10019;
	text-align: center;
	color: #FFFFFF;
	height: 50%;
}

.body1 {
    background-image: url("sfondo.gif");
    background-color: #cccccc;
	}

a:link {
	color: black
	}

a:hover {
	color: black;
	background-color: #008CBA
	}

a:visited {
	color: black
	}

a:active {
	color: black
	}

.log {
	border-radius: 12px;
	background-color: #008CBA;
	font-size: 14px;
	color: black;
    border: 2px solid #555555;
    padding: 10px 24px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.log2 {
	border-radius: 12px;
	background-color: #008CBA;
	font-size: 14px;
	color: black;
    border: 2px solid #555555;
    padding: 10px 24px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}